# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\1615586\Downloads\bostongene-drugs-annotations-af14b45a6a65\bostongene-drugs-annotations-af14b45a6a65\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
